In [1]:
%load_ext sql

In [2]:
%sql postgresql://awsuser:83hK8gvr!@redshift-cluster-sparkify.c512koqidbnf.us-west-2.redshift.amazonaws.com:5439/dev

'Connected: awsuser@dev'

In [5]:
%%sql 
select count(*) from tbl_Staging_Events

 * postgresql://awsuser:***@redshift-cluster-sparkify.c512koqidbnf.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(8056,)]

In [6]:
%%sql 
select count(*) from tbl_Staging_Songs

 * postgresql://awsuser:***@redshift-cluster-sparkify.c512koqidbnf.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(14896,)]

In [7]:
%%sql 
select count(*) from tbl_Songplay

 * postgresql://awsuser:***@redshift-cluster-sparkify.c512koqidbnf.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(6820,)]

In [8]:
%%sql 
select count(*) from tbl_User

 * postgresql://awsuser:***@redshift-cluster-sparkify.c512koqidbnf.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(104,)]

In [9]:
 %%sql 
select count(*) from tbl_Artist

 * postgresql://awsuser:***@redshift-cluster-sparkify.c512koqidbnf.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(9553,)]

In [10]:
 %%sql 
select count(*) from tbl_Time

 * postgresql://awsuser:***@redshift-cluster-sparkify.c512koqidbnf.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(6813,)]

In [11]:
 %%sql 
select count(*) from tbl_Song

 * postgresql://awsuser:***@redshift-cluster-sparkify.c512koqidbnf.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(14896,)]